// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 28px;
  padding: 5px 0px;
}

#container {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.2);
  padding: 0px 30px 30px;
  background-color: rgb(255, 255, 255);
}

#content {
  p {
    text-indent: 2em;
  }
}

#comments {
  border-left: 3px solid rgb(43, 166, 203);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;


  #comments_title {
    margin: 0px 0px 10px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    li {
      padding: 10px;
      margin: 0px 0px 10px;
      span {
        padding: 0 5px;
      }
      .vote {
        font-size: 12px;
        text-align: right;
        line-height: 100%;
      }
      .support {
        color: green;
      }
      .against {
        color: red;
      }
    }
  }
}
