// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-list-title {
  font-size: 16px;
}

.article-list-subtitle {
  font-size: 12px;
  text-align: right;
}

#article-title {
  font-size: 28px;
  padding: 5px 0px;
}

#article-board {
  visibility: hidden;
  overflow: hidden;
}

.article-card {
  border-top: 3px solid rgb(43, 166, 203);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 0px 10px;
  margin: 0 1% 15px;
  width: 31%;
}

@media only screen and (max-width: 768px) {
  .article-card {
    margin-bottom: 15px;
    width: 47%;
  }
}

@media only screen and (max-width: 600px) {
  .article-card {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}

#content {
  p {
    text-indent: 2em;
  }
}

#comments {
  border-left: 3px solid rgb(43, 166, 203);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;


  #comments_title {
    margin: 0px 0px 10px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    li {
      padding: 10px;
      margin: 0px 0px 10px;
      span {
        padding: 0 5px;
      }
      .vote {
        font-size: 12px;
        text-align: right;
        line-height: 100%;
      }
      .support {
        color: green;
      }
      .against {
        color: red;
      }
    }
  }
}

#connect {
  margin: 15px;
  text-align: center;
  a {
    margin: 0px 5px;
  }
}
