body {
  background-color: rgb(244, 244, 244);
  line-height: 18px;
}

header {
  border-bottom: 3px solid rgb(51, 174, 194);
}

.top-bar,.contain-to-grid {
  background-color: rgb(41, 41, 41);
}

h1 {
  text-shadow: 0px 0px 0.2em rgba(255, 255, 255, 0.5);
}
